@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


  body{
    overflow-x: hidden;
  }

  .dashboard{
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .outlet{
    flex: 1;
    padding-top: 70px;
    font-family: 'Mulish', sans-serif;
  }