.blogs_category{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}

.blogItem{
    padding: 4px 20px 3px 20px;
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.currentPage {
    background-color: red;
}

