.container{
    display: flex;
    align-items: center;
    grid-area: 40px;
    margin: 70px auto auto auto;
    max-width: 1180px;
}

.content{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.img{
    flex: 1;
}


@media only screen and (max-width: 1000px) {
    .container{
        display: flex;
       flex-direction: column-reverse;
    }
}