.container {
    display: flex;
    flex-direction: row;
    padding: 0 20px 20px 20px;
    align-items: start;
    justify-content: space-between;
    position: relative;
    
}

.info {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 500px;

}

.text {
    display: flex;
    flex-direction: column;
    gap: 16px;

    span:nth-child(1) {
        font-size: 13px;
        line-height: 15px;
       
  font-family: 'Noto Sans Lepcha', sans-serif;
        color: #6f6f6f;
        font-weight: 400;
    }

    ;

    span:nth-child(2) {
        font-size: 12px;
    
  font-family: 'Noto Sans Lepcha', sans-serif;
        word-spacing: 2px;
        font-weight: 300;
        color: black;
    }
}

.footer_links {
    display: flex;
    flex-direction: row;
    gap: 100px;

}

.links {
    display: flex;
    flex-direction: row;
    gap: 100px;

}

.link {
    display: flex;
    flex-direction: column;
    gap: 16px;

}

.link a {
    text-decoration: none;
    font-size: 13px;
    color: #323232;
    font-weight: 500;  
  font-family: 'Noto Sans Lepcha', sans-serif;
}

.social_links {
    display: flex;
    flex-direction: row;

}

.social_links a {
    color: black;
    display: inline-block;
    font-size: 15px;
    padding-left: 16px;
    font-weight: bolder;

}



.heading {
    font-weight: 500;
    font-size: 20px;
    transition: 0.7s ease;
    text-decoration: none;
    font-family: 'Barlow', sans-serif;
    color: #404040;
    text-decoration: none;
}

.heading span {
    color: black;
    font-weight: 700;
}


.container_sm {
    display: none;
}

@media only screen and (max-width: 1120px) {
    .links {
        display: flex;
        flex-direction: column;
        gap: 20px;

    }

}



@media only screen and (max-width: 900px) {
    .container {
        display: none;
    }

    .container_sm {
        margin-top: 40px;
        padding: 0 20px 20px 20px;
        display: block;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .sm_footer_links {
        display: flex;
        flex-direction: column;
        gap: 14px;
    }

    .sm_footer_links a {
        text-decoration: none;
        font-size: 16px;
        color: #323232;
        font-weight: 500;
        font-family: 'Hind Madurai', sans-serif;
    }

    .heading_social_links {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .sm_info {
        display: flex;
        flex-direction: column;
        gap: 16px;


    }

    .social_links {
        display: flex;
        flex-direction: row;
        gap: 0px;
    }
}